deployments/NodeRed/mqtt-temp-dashboard-flows.json
[{"id":"65512c6a.00623c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ea7c5c9.7fafb8","type":"mqtt-broker","z":"","name":"k3s-mtt","broker":"10.0.9.101","port":"31883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e2e7738b.98f838","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"33d0c2b2.687eae","type":"ui_group","z":"","name":"Sensor","tab":"","order":1,"disp":true,"width":"3","collapse":false},{"id":"24ece687.6f28fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc93692c.19f648","type":"ui_group","z":"","name":"Sensors","tab":"e2e7738b.98f838","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b363620.f87bf","type":"ui_group","z":"","name":"Grow Tent","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e204337d.a8ac","type":"ui_group","z":"","name":"Temp ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd27c12e.40c6f","type":"ui_tab","z":"","name":"New","icon":"dashboard","order":3,"disabled":true,"hidden":false},{"id":"a3e6da3e.fcf22","type":"ui_group","z":"","name":"Charts","tab":"fd27c12e.40c6f","order":1,"disp":true,"width":"6","collapse":false},{"id":"79b79f2b.a0a6a8","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"e3087744.9d3a3","type":"ui_group","name":"Group 1","tab":"79b79f2b.a0a6a8","order":1,"disp":true,"width":6},{"id":"4bf663ef.acb044","type":"mqtt in","z":"65512c6a.00623c","name":"","topic":"erin-sensor/temp_f","qos":"2","datatype":"auto","broker":"9ea7c5c9.7fafb8","x":210,"y":140,"wires":[["cf9b327c.feab48","88625c0.d617d28"]]},{"id":"48ba66d0.941ea8","type":"debug","z":"65512c6a.00623c","name":"From Sensors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"cf9b327c.feab48","type":"json","z":"65512c6a.00623c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":120,"wires":[["48ba66d0.941ea8","d047bcf4.b25b"]]},{"id":"f72da7ae.2ca728","type":"mqtt in","z":"65512c6a.00623c","name":"","topic":"erin-sensor/humidity","qos":"2","datatype":"auto","broker":"9ea7c5c9.7fafb8","x":210,"y":440,"wires":[["8b4831ee.c7f27","35d6ffbc.960dd8"]]},{"id":"cd8a7fbe.0cf1d","type":"mqtt in","z":"65512c6a.00623c","name":"","topic":"erin-sensor/pressure","qos":"2","datatype":"auto","broker":"9ea7c5c9.7fafb8","x":210,"y":580,"wires":[["d89bfb2e.2e60f8"]]},{"id":"8b4831ee.c7f27","type":"json","z":"65512c6a.00623c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":420,"wires":[["48ba66d0.941ea8","b0868a4e.ff2638","a0ee832c.f77938"]]},{"id":"d89bfb2e.2e60f8","type":"json","z":"65512c6a.00623c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":580,"wires":[["48ba66d0.941ea8","a866f1c6.6105c8","17e6c257.f82d3e"]]},{"id":"d047bcf4.b25b","type":"ui_level","z":"65512c6a.00623c","group":"dc93692c.19f648","order":1,"width":0,"height":0,"name":"Temp F","label":"Temp F","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"120","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":770,"y":140,"wires":[]},{"id":"b0868a4e.ff2638","type":"ui_level","z":"65512c6a.00623c","group":"dc93692c.19f648","order":2,"width":0,"height":0,"name":"Humidity","label":"Humidity","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":760,"y":440,"wires":[]},{"id":"a866f1c6.6105c8","type":"ui_level","z":"65512c6a.00623c","group":"dc93692c.19f648","order":3,"width":0,"height":0,"name":"Pressure","label":"Pressure","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1000","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":740,"y":600,"wires":[]},{"id":"a0ee832c.f77938","type":"ui_chart","z":"65512c6a.00623c","name":"","group":"a3e6da3e.fcf22","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":500,"wires":[[]]},{"id":"35d6ffbc.960dd8","type":"ui_chart","z":"65512c6a.00623c","name":"","group":"e3087744.9d3a3","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":300,"wires":[[]]},{"id":"88625c0.d617d28","type":"ui_chart","z":"65512c6a.00623c","name":"","group":"e3087744.9d3a3","order":1,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":220,"wires":[[]]},{"id":"17e6c257.f82d3e","type":"ui_chart","z":"65512c6a.00623c","name":"","group":"e3087744.9d3a3","order":3,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":680,"wires":[[]]}]